
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
a {
    color: inherit;
    text-decoration: none;
}
.medsos {
    padding: 5px 0;
    background-color: aqua;
}
.medsos ul li {
    display: inline-block;
    color: white;
    margin-right: 10px;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.container:after {
    content: '';
    display: block;
    clear: both;
}
header h1 {
    float: left;
    padding: 15px 0;
    color: cyan;
}
header ul {
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover {
    background-color: cyan;
    color: white;
}
.active {
    background-color: cyan;
    color: white;
}
.banner {
    height: 60vh;
    background-image: url('../img/banner.JPEG');
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(13, 237, 196, .6 );
}
.banner h2 {
    color: white;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid white;
}
section {
    padding: 50px 0;
}
section h3 {
    text-align: center;
    padding: 20px 0;
    color: cyan;
    margin-bottom: 25px;
}
.about {
    padding-bottom: 100px;
}
.about p {
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
}
footer {
    text-align: center;
    padding: 1em;
    background-color: #f1f1f1;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.contact {
    background-color: #f9f9f9;
}
.box {
    color: #148f77;
}
.box:after {
    content: '';
    display: block;
    clear: both;
}
.box .col-4 {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
.icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 70px;
    margin: 0 auto;
}
.box .col-4 h4 {
    margin: 20px 0;
}
.information {
    background-color: #ddd;
}
.container-1 {
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.alat {
    width: 30%;
}
.alat-1 {
    color: rgb(0, 89, 255);
    background-image: url('https://mims2007.github.io/Project-statisGym-public/img/treadmill.JPG');
    padding: 100px;
    height: 100px;
    background-size: cover;
}
.alat-2 {
    color: rgb(0, 89, 255);
    background-image: url('../img/smithmachine.JFIF');
    padding: 100px;
    height: 100px;
    background-size: cover;
}
.alat-3 {
    color: rgb(0, 89, 255);
    background-image: url('../img/legpress.WEBP');
    padding: 100px;
    height: 100px;
    background-size: cover;
}
.alat-4 {
    color: rgb(0, 89, 255);
    background-image: url('../img/benchpress.JPEG');
    padding: 100px;
    height: 100px;
    background-size: cover;
}
.alat-5 {
    color: rgb(0, 89, 255);
    background-image: url('../img/seatedrow.WEBP');
    padding: 100px;
    height: 100px;
    background-size: cover;
}
.alat-6 {
    color: rgb(0, 89, 255);
    background-image: url('../img/cablemachine.JPG');
    padding: 100px;
    height: 100px;
    background-size: cover;
}
.alat-7 {
    color: rgb(0, 89, 255);
    background-image: url('../img/latpulldown.JPG');
    padding: 100px;
    height: 100px;
    background-size: cover;
}
.alat-8 {
    color: rgb(0, 89, 255);
    background-image: url('../img/dumble.JPG');
    padding: 100px;
    height: 100px;
    background-size: cover;
}
.alat-9 {
    color: rgb(0, 89, 255);
    background-image: url('../img/barbel.PNG');
    padding: 100px;
    height: 100px;
    background-size: cover;
}
